extends Layout

block meta
  script(src=`https://maps.googleapis.com/maps/api/js?key=${api_key}&libraries=places&callback=initMap`)

block content
    form(method='POST' action='/property/add')
        h1 Choose your building:
        div.input-group 
                span.input-group-text 
                    i.bi.bi-map 
                    div.form-floating 
                        input.form-control(type='text' id='autocomplete' placeholder='Location' required) 
                        label.form-label(for='autocomplete') Location
        input(type='text' id='place_id' name='place_id' hidden=true)
        input.btn.btn-primary(type='submit' value='Next')
        script(src='/javascripts/autocomplete.js')