extends Layout

block content
    table.table.table-responsive.thead-dark.table-striped.table-bordered.table-hover
        thead 
            tr 
                th.text-center.align-middle(scope='col') Photo
                th.text-center.align-middle(scope='col') Property
                th.text-center.align-middle(scope='col') Address
            tbody 
            each building in buildings 
                tr
                    td.text-center.align-middle
                        img(src=`https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference=${building.photos[0]}&key=${api_key}`)
                    td.text-center.align-middle
                        a(href=`/listing/properties/${building._id}`)= building.name
                    td.text-center.align-middle
                        a(href=building.url)= building.formatted_address
                    